@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face{
    font-family:'digital-clock-font';
    src: url('digital-dismay.regular.otf');
}

* {
    font-family: 'Orbitron', sans-serif;
}
#cald {
    border-radius: 15px;
    background-color: rgb(208, 221, 231);
}
#inp-f {
    border-radius: 10px;
}
#out, #inp {
    font-family:'digital-clock-font';
}